   <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between">
      <a routerLink="/">Forum</a>
      <nav *ngIf="!(user | async) else userMenu">
        <a mat button routerLink="/register">REGISTER</a>
        <a mat button routerLink="/login">SIGN IN</a>
      </nav>
    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>
<ng-template #userMenu>
  <nav>
    <button style="margin-right: 100px"mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
      <strong> Hello {{ (user | async )?.name}} !</strong>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/posts/new">Add new post</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </nav>

</ng-template>
