<h1>New product</h1>
<mat-card>
  <mat-card-content>
    <div class="error" *ngIf="error | async">
      {{ error | async }}
    </div>
    <form (ngSubmit)="onSubmit()" #f="ngForm" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input name="title" required matInput ngModel  #title="ngModel"/>
        <mat-error *ngIf="title.touched && title.hasError('required')">
          Title is required!
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea
          name="description"  #description="ngModel"
          ngModel
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="3"
        ></textarea>

      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Image</mat-label>
        <app-file-input name="image" ngModel #image="ngModel"></app-file-input>
      </mat-form-field>
      <div>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="f.invalid || (loading | async)"
        >SAVE</button>
      </div>
      <mat-error *ngIf="description.touched && description.hasError('required') && image.hasError('required') ">
       Either description or image are required
      </mat-error>
    </form>
  </mat-card-content>
</mat-card>

