<mat-card *ngIf="myPost">
  <mat-card-title ><a> <i>Title:</i> {{ myPost.title }}</a></mat-card-title>
  <mat-card-title class="date"><a> <i>Date:</i> {{ myPost.date }}</a></mat-card-title>
  <img
    [src]="myPost.image | image"
    [alt]="'Photo of ' + myPost.title"
    mat-card-image
  />
  <mat-card-title>{{ myPost.description }}</mat-card-title>
</mat-card>

<mat-progress-spinner
  *ngIf="(loading | async) else commentsArea"
  mode="indeterminate"
></mat-progress-spinner>

<ng-template #commentsArea>
  <div *ngFor="let comment of comments | async">
    <mat-card-title ><strong> Comments:</strong></mat-card-title>
    <mat-card-title> {{ comment.user['name'] }}</mat-card-title>
    <mat-card-title> {{ comment.text }}</mat-card-title>
  </div>
  <div *ngIf="!(user | async) else userMenu"></div>
</ng-template>

<ng-template #userMenu>
  <mat-card>
    <form (ngSubmit)="onSubmit()"  #f="ngForm">
     <mat-label>Enter a text</mat-label>
      <input type="text" name="text" required matInput ngModel/>
      <button
      type="submit"
      mat-raised-button
      [disabled]="f.invalid || (loading | async)"
      >Enter</button>
    </form>
  </mat-card>
</ng-template>


