<app-center-card title="Register">
  <form #f="ngForm" fxLayout="column" autocomplete="off" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" name="email" autocomplete="username"
             email required matInput ngModel #email="ngModel"
      />
      <mat-error *ngIf="email.touched && email.hasError('required');">
        Email is required
      </mat-error>
      <mat-error *ngIf="email.touched && email.hasError('email');">
        Enter a correct email
      </mat-error>
      <mat-error *ngIf="email.touched && email.hasError('serverError');">
        {{ email.getError('serverError')}};
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" name="password" autocomplete="new-password"
             required matInput ngModel #password="ngModel"
      />
      <mat-error *ngIf="password.touched && password.hasError('required');">
        Password is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input type="text" name="name" autocomplete="name"
             required matInput ngModel #name="ngModel"
      />
      <mat-error *ngIf="name.touched && name.hasError('required');">
        Name  is required
      </mat-error>
      <mat-error *ngIf="name.touched && name.hasError('serverError');">
        {{ name.getError('serverError')}};
      </mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">
      REGISTER
    </button>
  </form>
</app-center-card>
