<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>Posts</h1>
</div>
<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>

<mat-progress-spinner
  *ngIf="(loading | async) else postsArea"
  mode="indeterminate"
></mat-progress-spinner>

<ng-template #postsArea>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.lt-lg="33%"
      fxFlex="25%"
      *ngFor="let post of posts | async"
    >
      <mat-card>
        <mat-card-title ><a> <i>Title:</i> {{ post.title }}</a></mat-card-title>
        <mat-card-title class="date"><a> <i>Date:</i> {{ post.date }}</a></mat-card-title>
        <mat-card-title *ngFor="let k of post.user | keyvalue">
          <ng-container *ngIf="k.key == 'name'">
            <span>  <i>By:</i> {{k.value}}</span>
          </ng-container>
        </mat-card-title>
        <img
          [src]="post.image | image"
          [alt]="'Photo of ' + post.title"
          mat-card-image
        />
        <mat-card-title>{{ post.description }}</mat-card-title>
        <a
          [routerLink]="['/posts/', post.id ]"
          mat-button
        >VIEW</a>

      </mat-card>
    </div>
  </div>
</ng-template>

